* {
    background: #35002c;
    color: #c3fffc;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    list-style: none;
    background-color: #70005d;
    padding: 0; /* Supprime le padding de <li> */
    margin-bottom: 4vh; /* Supprime toute marge de <li> */
    flex-grow: 1; /* Permet à chaque <li> de prendre la même largeur */
    border: solid #c3fffc 0.7px;
}

li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding-inline: 10px;
    padding-block: 1.6vh;
    color: inherit;
    text-decoration: none;
    background-color: #70005d;
    box-sizing: border-box;
}



form {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    align-items: center;    
}
form div {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: #70005d solid 1px;
    padding: 3%;
}
form input#submit {
    padding-inline: 3%;
    padding-block: 1%;
    border: 0.4px solid #c3fffc;
    border-radius: 4px;
}
form div input{
    padding-block: 7%;
    padding-inline: 10%;
    margin-top: 4%;
    border: 0.4px solid #c3fffc;
    border-radius: 4px;
}